.publish-btn{
    width:100%;
    color: #9e451f;
    background-color: #fff0da;
    cursor: pointer;
}
.idnr{
    display:none;
    position:absolute;
}
.form{
    margin-top: 20px;
}
.shopimg{
    padding-top: 8vh;
}